@page "/LearnBlazor/BindProp"

<PageTitle>Product</PageTitle>
<div class="row">
    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Playground</h3>
        <hr />
        <div>
        Active: <input type="checkbox" @bind-value="@Product.IsActive" checked="@Product.IsActive"/>
        </div>
        <div>
        Price: <input type="number" @bind-value="@Product.Price" @bind-value:event="oninput"/>
        </div>
        <div>
        Product Properties:
        <select @bind="@SelectedProp">
            @foreach (var property in Product.ProductProperties)
            {
                <option value="@property.Key">@property.Value</option>
            }
        </select>
        </div>
    </div>
    <div class="col-6 border p-2">
        <h3 class="text-primary">Product Summary</h3>
        <hr />
        Name: @Product.Name
        <br />
        Active: @Product.IsActive
        <br />
        Price: @Product.Price
        <br />
        This product is: @(Product.IsActive ? "Active": "Inactive")
        <br />
        Selected Property: @SelectedProp
    </div>
</div>
@code {
    private string SelectedProp = string.Empty;

    DemoProduct Product = new()
    {
        Id = 1,
        Name = "First Product",
        IsActive = true,
        Price = 10.99m,
        ProductProperties = new List<DemoProductProp>()
        {
            new DemoProductProp(){ Id = 1, Key = "Color", Value = "Black" },
            new DemoProductProp(){ Id = 2, Key = "Flavor", Value = "Rose Jasmine" },
            new DemoProductProp(){ Id = 3, Key = "Size", Value = "20oz" }
        }
    };
}
